<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-light">&copy;YelpCamp 2025</span>
    </div>
</footer>

<!--NOTE: in the body use <body class="d-flex flex-column vh-100"> and for footer class use mt-auto -->

    